/*--------------------------------------------------------------
# Panel
--------------------------------------------------------------*/

.wpbr-panel {
	display: flex;
	flex-direction: column;

	@media ( min-width: 768px ) {
		border: $wpbr-border-width solid $wpbr-color-dim;
		flex-direction: row;
		margin-bottom: $wpbr-space;
	}

	.js & {
		display: none;
	}

	.js &--active {
		display: flex;
	}

	&__main {
		display: flex;
		flex-direction: column;
		order: 1;

		@media ( min-width: 768px ) {
			flex-grow: 1;
			margin-bottom: 0;
		}
	}

		&__section {
			background-color: white;
			border: $wpbr-border-width solid $wpbr-color-dim;
			margin-bottom: $wpbr-space;
			padding: $wpbr-space;

			@media ( min-width: 768px ) {
				border-width: 0;
				margin-bottom: 0;
			}

			.js & {
				display: none;
			}

			.js &--active {
				display: block;
			}
		}

			&__heading {
				color: $wpbr-color-text;
				margin: 0;
			}

			&__description {
				font-size: 14px;
				margin: $wpbr-space-half 0 0;
			}

	&__sidebar {
		display: none;

		@media ( min-width: 768px ) {
			background-color: $wpbr-color-dim;
			border-top: 0;
			display: block;
			flex-basis: 40%;
			max-width: $wpbr-space * 10;
			order: 0;
		}
	}
}
