/*--------------------------------------------------------------
# List-Menu
--------------------------------------------------------------*/

.wpbr-list-menu {
	margin: 0;

	&__item {
		margin-bottom: 0;
	}

		&__link {
			background-color: $wpbr-color-off-white;
			border-bottom: $wpbr-border-width solid $wpbr-color-dim;
			color: $wpbr-color-text;
			display: block;
			font-weight: 700;
			line-height: $wpbr-space;
			padding: $wpbr-space-half $wpbr-space;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				background-color: $wpbr-color-white;
			}

			&--active {
				background-color: $wpbr-color-white;
			}
		}
}
