/*--------------------------------------------------------------
# Admin-Section
--------------------------------------------------------------*/

.wpbr-admin-section {
	background-color: white;
	border: $wpbr-border-width solid $wpbr-color-dim;
	margin-bottom: $wpbr-space;
	padding: $wpbr-space;

	@media ( min-width: 768px ) {
		border-width: 0;
		margin-bottom: 0;
	}

	&__header {
		:last-child {
			margin-bottom: 0;
		}
	}

		&__heading {
			color: $wpbr-color-text;
			margin: 0 0 $wpbr-space-half;
		}

		&__description {
			font-size: 14px;
			margin: 0;
		}
}
