/*--------------------------------------------------------------
# Settings-Field
--------------------------------------------------------------*/

/* tr */.wpbr-settings-field {
	@media ( min-width: 768px ) {
		border-bottom: $wpbr-border-width solid $wpbr-color-dim;
	}

	&--submit {
		border-bottom: 0;
		padding-top: $wpbr-space-half;

		@media ( min-width: 768px ) {
			padding: $wpbr-space-double 0;

			// Adjust padding when save field appears at the end of a section.
			&:last-child {
				padding-bottom: $wpbr-space;
			}
		}
	}

	th {
		padding-top: $wpbr-space-half;

		@media ( min-width: 768px ) {
			padding-top: $wpbr-space-double;
		}

		@media ( min-width: 783px ) {
			padding: $wpbr-space-double 0;
		}
	}

	td {
		padding-bottom: $wpbr-space-half;

		@media ( min-width: 768px ) {
			padding-bottom: $wpbr-space-double;
		}

		@media ( min-width: 783px ) {
			padding: $wpbr-space-double 0;
		}
	}
}
