/*--------------------------------------------------------------
# Subtabs
--------------------------------------------------------------*/

.wpbr-subtabs {
	margin: 0;

	@media ( min-width: 768px ) {
		border-right: $wpbr-border-width solid $wpbr-color-dim;
	}

	&__item {
		margin-bottom: 0;
		border-bottom: $wpbr-border-width solid $wpbr-color-dim;

		&:last-child {
			border-bottom: 0;
		}
	}

		&__link {
			background-color: $wpbr-color-off-white;
			color: $wpbr-color-text;
			display: block;
			font-weight: 700;
			line-height: $wpbr-space;
			padding: $wpbr-space;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				background-color: $wpbr-color-white;
				color: $wpbr-color-text;
			}

			&--active {
				background-color: $wpbr-color-white;
			}

			// Remove focus outline on mousedown but maintain it for keyboard navigation.
			&--mousedown:focus {
				box-shadow: none;
			}
		}
}
