/*--------------------------------------------------------------
# Tabs
--------------------------------------------------------------*/

.wpbr-tabs {
	background-color: $wpbr-color-navy;
	display: flex;
	margin: 0;
	padding: 0 $wpbr-space;

	&__item {
		border-right: $wpbr-border-width solid $wpbr-color-navy-light;
		margin-bottom: 0;
		display: flex;
		flex-basis: $wpbr-space * 7;

		&:first-child {
			border-left: $wpbr-border-width solid $wpbr-color-navy-light;
		}
	}

		&__link {
			color: $wpbr-color-white;
			display: flex;
			flex-direction: column;
			font-weight: 700;
			justify-content: center;
			line-height: $wpbr-space;
			padding: $wpbr-space-three-quarters $wpbr-space;
			text-align: center;
			text-decoration: none;
			width: 100%;

			&:hover,
			&:focus,
			&:active {
				background-color: $wpbr-color-navy-light;
				color: $wpbr-color-white;
			}

			&--active {
				background-color: $wpbr-wp-admin-background-color;
				color: $wpbr-color-text;

				&:hover,
				&:focus,
				&:active {
					background-color: $wpbr-wp-admin-background-color;
					color: $wpbr-color-text;
				}
			}
		}
}
