/*--------------------------------------------------------------
# Subtabs
--------------------------------------------------------------*/

.wpbr-subtabs {
	margin: 0;

	@media ( min-width: 768px ) {
		border-right: $wpbr-border-width solid $wpbr-color-dim;
	}

	&__item {
		margin-bottom: 0;
		border-bottom: $wpbr-border-width solid $wpbr-color-dim;

		&:last-child {
			border-bottom: 0;
		}
	}

	&__link {
		align-items: center;
		background-color: $wpbr-color-off-white;
		color: $wpbr-color-text;
		display: flex;
		font-weight: 600;
		line-height: $wpbr-space;
		padding: $wpbr-space;
		position: relative;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			background-color: $wpbr-color-off-white-light;
			color: $wpbr-color-text;
		}

		&--active {
			background-color: $wpbr-color-white;

			&:hover,
			&:focus,
			&:active {
				background-color: $wpbr-color-white;
			}
		}

		}
	}
}
