/*--------------------------------------------------------------
# Admin-Page
--------------------------------------------------------------*/

.wpbr-admin-page {
	color: $wpbr-color-text;
	padding: $wpbr-space;

	* {
		box-sizing: border-box;
	}
}
