/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/

.wpbr-button {
	background-color: $wpbr-color-red;
	border-radius: $wpbr-border-radius;
	display: inline-block;
	line-height: $wpbr-space;
	color: $wpbr-button-color;
	padding: $wpbr-space-half $wpbr-space;
	text-align: center;
	text-decoration: none;

	&:visited,
	&:hover,
	&:focus,
	&:active {
		color: $wpbr-button-color;
	}

	&:hover,
	&:focus,
	&:active {
		background-color: $wpbr-button-background-color-hover;
	}
}
