/*--------------------------------------------------------------
# Tabs
--------------------------------------------------------------*/
.wpbr-tabs {
	background-color: $wpbr-color-navy;
	display: flex;
	margin: 0;
	padding: 0 $wpbr-space;

	&__item {
		margin: 0;
		display: flex;
		flex-basis: $wpbr-space * 7;
	}

		&__link {
			color: $wpbr-color-white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			line-height: $wpbr-space;
			padding: $wpbr-space;
			text-align: center;
			text-decoration: none;
			transition-duration: 0s;
			width: 100%;

			&:hover,
			&:focus,
			&:active {
				background-color: $wpbr-color-navy-light;
				color: $wpbr-color-white;
				z-index: 1;
			}

			&--active {
				background-color: $wpbr-color-off-white;
				color: $wpbr-color-text;
				font-weight: 600;

				&:hover,
				&:focus,
				&:active {
					background-color: $wpbr-color-off-white;
					color: $wpbr-color-text;
				}
			}
		}
}
