/*--------------------------------------------------------------
# Admin-Tabs
--------------------------------------------------------------*/

.wpbr-admin-tabs {
	background-color: $wpbr-color-navy;
	//box-sizing: border-box;
	display: flex;
	margin: 0;
	padding: 0 $wpbr-space;

	> li {
		border-right: $wpbr-border-width solid $wpbr-color-navy-light;
		margin-bottom: 0;

		&:first-child {
			border-left: $wpbr-border-width solid $wpbr-color-navy-light;
		}

		> a {
			color: $wpbr-color-white;
			display: block;
			line-height: $wpbr-space;
			padding: $wpbr-space-half $wpbr-space;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				background-color: $wpbr-color-navy-light;
			}
		}
	}
}
