/*--------------------------------------------------------------
# Panel
--------------------------------------------------------------*/

.wpbr-panel {
	background-color: $wpbr-color-white;
	border: $wpbr-border-width solid $wpbr-color-dim;
	margin-bottom: $wpbr-space;

	@media ( min-width: 48em ) {
		display: flex;
	}

	&__main {
		margin-bottom: $wpbr-space;
		padding: $wpbr-space;

		@media ( min-width: 48em ) {
			flex-grow: 1;
			margin-bottom: 0;
			order: 1;
		}
	}

	&__sidebar {
		background-color: $wpbr-color-dim;

		@media ( min-width: 48em ) {
			flex-basis: 40%;
			max-width: 200px;
			order: 0;
		}
	}
}
