/*--------------------------------------------------------------
# Panel
--------------------------------------------------------------*/

.wpbr-panel {
	background-color: $wpbr-color-white;
	border: $wpbr-border-width solid $wpbr-color-dim;
	display: flex;
	flex-direction: column;
	margin-bottom: $wpbr-space;

	@media ( min-width: 48em ) {
		flex-direction: row;
	}

	&__main {
		order: 1;
		padding: $wpbr-space;

		@media ( min-width: 48em ) {
			flex-grow: 1;
			margin-bottom: 0;
		}
	}

	&__sidebar {
		background-color: $wpbr-color-dim;
		border-top: $wpbr-border-width solid $wpbr-color-dim;
		order: 0;

		@media ( min-width: 48em ) {
			border-right: $wpbr-border-width solid $wpbr-color-dim;
			border-top: 0;
			flex-basis: 40%;
			max-width: $wpbr-space * 10;
		}
	}
}
