/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

/**
 * These variables are used to calculate many other settings throughout the
 * theme. Be aware of where they are used before changing their value.
 */
$wpbr-global-font-size: 1em;
$wpbr-global-line-height: 1.5;

/*--------------------------------------------------------------
# Spacing
--------------------------------------------------------------*/

$wpbr-space: 20px;
$wpbr-space-eighth: $wpbr-space * 0.125;
$wpbr-space-quarter: $wpbr-space * 0.25;
$wpbr-space-half: $wpbr-space * 0.5;
$wpbr-space-three-quarters: $wpbr-space * 0.75;
$wpbr-space-and-quarter: $wpbr-space * 1.25;
$wpbr-space-and-half: $wpbr-space * 1.5;
$wpbr-space-and-three-quarters: $wpbr-space * 1.75;
$wpbr-space-double: $wpbr-space * 2;
$wpbr-space-triple: $wpbr-space * 3;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

// Brand colors.
$wpbr-color-blue: #3498DB;
$wpbr-color-blue-dark: #2980B9;
$wpbr-color-navy: #2C3E50;
$wpbr-color-red: #E74C3C;
$wpbr-color-off-white: #ECF0F1;

// Platform colors.
$wpbr-color-google-rating: #e7711b;

// Other colors.
$wpbr-color-white: #fff;
$wpbr-color-gray-light: #d9d9d9;
$wpbr-color-gray-lighter: #f0f0f0;
$wpbr-color-gray-lightest: #f7f7f7;
$wpbr-color-black: #000;

$wpbr-color-green: #65b854;
$wpbr-color-yellow: #f2c318;
$wpbr-color-dim: darken( $wpbr-color-off-white, 6 );
$wpbr-color-navy-light: lighten( $wpbr-color-navy, 10 );
$wpbr-color-off-white-light: lighten( $wpbr-color-off-white, 3 );

// WordPress colors.
$wpbr-wp-admin-background-color: #f1f1f1;

// Notice colors.
$wpbr-color-info: $wpbr-color-blue;
$wpbr-color-info-light: lighten( $wpbr-color-info, 36 );
$wpbr-color-info-dark: darken( $wpbr-color-info, 30 );
$wpbr-color-success: $wpbr-color-green;
$wpbr-color-success-light: lighten( $wpbr-color-success, 36 );
$wpbr-color-success-dark: darken( $wpbr-color-success, 30 );
$wpbr-color-error: $wpbr-color-red;
$wpbr-color-error-light: lighten( $wpbr-color-error, 36 );
$wpbr-color-error-dark: darken( $wpbr-color-error, 30 );
$wpbr-color-warning: $wpbr-color-yellow;
$wpbr-color-warning-light: lighten( $wpbr-color-warning, 36 );
$wpbr-color-warning-dark: darken( $wpbr-color-warning, 30 );

// Colors by use case.
$wpbr-color-accent: $wpbr-color-red;
$wpbr-color-link: $wpbr-color-blue;
$wpbr-color-link-hover: lighten( $wpbr-color-link, 4 );
$wpbr-color-text: #5d6f80;
$wpbr-color-text-light: lighten( $wpbr-color-text, 24 );
$wpbr-color-text-inverted: $wpbr-color-white;

/*--------------------------------------------------------------
# Borders
--------------------------------------------------------------*/

$wpbr-border-width: 0.0625em;
$wpbr-border-width-double: 2 * $wpbr-border-width;
$wpbr-border-radius: 0.5em;

/*--------------------------------------------------------------
# Box-Shadow
--------------------------------------------------------------*/

$wpbr-box-shadow-distance: 0.25 * $wpbr-space;
$wpbr-box-shadow: 0 $wpbr-box-shadow-distance $wpbr-box-shadow-distance transparentize( $wpbr-color-navy, 0.95 );

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

$wpbr-button-background-color: $wpbr-color-red;
$wpbr-button-background-color-secondary: $wpbr-color-blue;
$wpbr-button-color: $wpbr-color-white;
$wpbr-button-border-radius: $wpbr-border-radius;
$wpbr-button-border-width: $wpbr-border-width;

/*--------------------------------------------------------------
# Widths
--------------------------------------------------------------*/

$wpbr-width-palm-small: 20em;
$wpbr-width-palm-large: 30em;
$wpbr-width-lap-small: 37.5em;
$wpbr-width-lap-large: 48em;
$wpbr-width-desk-small: 60em;
$wpbr-width-desk-large: 73.5em;
