/*--------------------------------------------------------------
# Gallery-Mixins
--------------------------------------------------------------*/

@mixin wpbr-gallery( $gutter ) {
	display: flex;
	flex-wrap: wrap;
	margin: 0 ( -$gutter ) 0;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin wpbr-gallery-item( $columns, $gutter ) {
	$gutter-adjustment: $gutter + $gutter *  1 / $columns;
	$width: calc( #{percentage( 1 / $columns )} - #{$gutter-adjustment} );

	display: flex;
	margin-bottom: $gutter;
	margin-left: $gutter;
	width: $width;
}
