/*--------------------------------------------------------------
# WP-Admin
--------------------------------------------------------------*/

// Remove padding from admin pages except for post edit pages.
body[class*="wpbr_review_page"] #wpcontent {
	padding: 0;
}

// Custom menu icon.
.menu-icon-wpbr_review .wp-menu-image img {
	height: 18px;
	width: 18px;
}

// Checkbox and radio settings fields.
.wpbr-admin-page {
	.form-table th {
		color: $wpbr-color-text;
	}
}
