/*--------------------------------------------------------------
# Builder
--------------------------------------------------------------*/

.wpbr-builder {
	box-sizing: border-box;
	color: $wpbr-color-text;

	&__toolbar {
		align-items: center;
		background-color: $wpbr-color-white;
		border-bottom: $wpbr-border-width solid $wpbr-color-dim;
		display: flex;
		justify-content: space-between;
		padding: $wpbr-space;
		text-align: right;
		width: 100%;
	}

	&__title {
	}

	&__tools {
	}

	&__workspace {
		align-items: stretch;
		display: flex;
		width: 100%;
	}

	&__inspector {
		background-color: $wpbr-color-off-white;
		border-left: $wpbr-border-width solid $wpbr-color-dim;
		flex: 0 0 $wpbr-space * 16;
	}

	&__launcher {
		flex: 1;
		font-size: 14px;
		padding: $wpbr-space;
	}

	&__preview {
		flex: 1;
		font-size: 14px;
		padding: $wpbr-space;
	}

	&__header {
		border-bottom: $wpbr-border-width solid $wpbr-color-dim;
		padding: $wpbr-space;
	}

	&__section {
		background-color: $wpbr-color-white;
		border-bottom: $wpbr-border-width solid $wpbr-color-dim;
	}

	&__section-header {
		background-color: $wpbr-color-off-white-light;
		border-bottom: $wpbr-border-width solid $wpbr-color-dim;
		display: flex;
	}

	&__section-heading {
		color: $wpbr-color-text;
		flex: 1;
		flex-direction: column;
		font-size: 14px;
		font-weight: 600;
		justify-content: center;
		margin: 0;
		order: 0;
		padding: $wpbr-space-three-quarters $wpbr-space;
	}

	&__toggle {
		background-color: transparent;
		border: 0;
		color: $wpbr-color-text;
		order: 1;
		width: $wpbr-space * 2.5;
	}

	&__section-body {
		padding: $wpbr-space;
	}

	&__results {
		margin-top: $wpbr-space;
	}
}
