/*--------------------------------------------------------------
# Scrollable
--------------------------------------------------------------*/

.wpbr-scrollable {
	margin-bottom: $wpbr-space;
	max-height: $wpbr-space * 20;
	overflow-y: scroll;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	&--border {
		border: $wpbr-border-width solid $wpbr-color-wp-form-border;
	}

	&__more-indicator {
		background-color: $wpbr-color-red;
		border: 0;
		border-radius: 9999px;
		bottom: $wpbr-space-half;
		box-shadow: $wpbr-box-shadow;
		color: $wpbr-color-white;
		content: "V";
		display: block;
		height: $wpbr-space-double;
		left: 50%;
		position: absolute;
		transition: all 0.25s ease-out;
		width: $wpbr-space-double;
	}
}
