/*--------------------------------------------------------------
# Admin
--------------------------------------------------------------*/

.wpbr-admin {
	background-color: $wpbr-color-off-white;
	transition: background-color 0.2s ease-out;

	// Change color of current menu item indicator to match background.
	ul#adminmenu a.wp-has-current-submenu:after,
	ul#adminmenu > li.current > a.current:after {
		border-right-color: $wpbr-color-off-white;
		transition: border-color 0.2s ease-out;
	}

	// Apply dark theme to admin for use with Reviews Builder preview.
	&.wpbr-theme--dark {
		background: #23282d;

		ul#adminmenu a.wp-has-current-submenu:after,
		ul#adminmenu > li.current > a.current:after {
			border-right-color: #23282d;
		}

		#wpfooter {
			color: $wpbr-color-white;
		}
	}

	// Apply these overrides to all WPBR admin pages except post edit pages.
	&[class*="wpbr_review_page"] #wpcontent {
		box-sizing: border-box;
		color: $wpbr-color-text;
		padding: 0;

		* {
			box-sizing: border-box;
		}
	}

	// Set dimensions of custom menu icon to match other icons.
	.menu-icon-wpbr_review .wp-menu-image img {
		height: 18px;
		width: 18px;
	}
}
