/*--------------------------------------------------------------
# Admin-Banner
--------------------------------------------------------------*/

.wpbr-admin-banner {
	background-color: $wpbr-color-blue-dark;
	background-image: url(../images/skyline-banner.png);
	background-repeat: no-repeat;
	background-position: ($wpbr-space * 15) bottom;
	background-size: auto 80%;
	box-sizing: border-box;
	padding: $wpbr-space;
	position: relative;
	top: 46px;
	width: 100%;

	@media ( min-width: 601px ) {
		top: 0;
	}

	&__logo {
		display: block;
		height: 3 * $wpbr-space;
	}
}
