/*--------------------------------------------------------------
# Review-Source
--------------------------------------------------------------*/

.wpbr-review-source {

	&__name,
	&__rating,
	&__address {
		display: block;
	}

	&__name {
		font-weight: 600;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}

	&__address {
		font-size: 0.875em;
		margin-bottom: $wpbr-space-quarter;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__image {
		&--cover {
			object-fit: cover;
			max-height: $wpbr-space * 8;
			width: 100%;
		}
	}
}
