/*--------------------------------------------------------------
# Scrollable
--------------------------------------------------------------*/

.wpbr-scrollable {
	margin-bottom: $wpbr-space;
	max-height: $wpbr-space * 20;
	overflow-y: scroll;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	&--border {
		border: $wpbr-border-width solid $wpbr-color-wp-form-border;
	}
}
