/*--------------------------------------------------------------
# Admin-Heading
--------------------------------------------------------------*/

.wpbr-admin-header {
	> :last-child {
		margin-bottom: 0;
	}

	&__heading {
		color: $wpbr-color-text;
		margin: 0 0 $wpbr-space-half;
	}

	&__subheading {
		font-size: 14px;
		margin: 0 0 $wpbr-space;
	}
}
