/*--------------------------------------------------------------
# Review
--------------------------------------------------------------*/

/**
 * Single review with user image, details, and review text.
 *
 * 1. Header wraps the user photo and details. It displays above review text.
 * 2. Image is the user photo or placeholder image if no photo exists.
 * 3. Details include the user's name, star rating, and timestamp of the review.
 */

.wpbr-review {
	border: 1px solid transparent;
	font-size: 1em;
	margin-bottom: $wpbr-space;
	transition: all 0.2s ease-out;

	&:last-child {
		margin-bottom: 0;
	}

	&__header { /* [1] */
		align-items: center;
		display: flex;
	}

	&__image { /* [2] */
		background-size: contain;
		background-image: url( '../images/demo-user-placeholder-solid.png' );
		flex-basis: $wpbr-space * 3;
		flex-shrink: 0;
		height: $wpbr-space * 3;
		margin-right: $wpbr-space-half;
		overflow: hidden;

		.wpbr-theme--seamless-light & {
			background-image: url( '../images/demo-user-placeholder-solid.png' );
		}

		.wpbr-theme--seamless-dark & {
			background-image: url( '../images/demo-user-placeholder-white.png' );
		}

		img {
			border-radius: 9999px;
			display: block;
			max-width: 100%;
		}
	}

	&__details { /* [3] */
		flex-grow: 1;
		overflow: hidden;
	}

	&__name {
		font-size: 1em;
		color: $wpbr-color-text;
		margin: 0;
	}

	&__timestamp {
		display: block;
		font-size: 1em;
		font-size: 75%;
		font-style: italic;
	}

	&__content {
		margin-top: $wpbr-space-half;

		& :last-child {
			margin-bottom: 0;
		}

		p {
			font-size: 1em;
			margin: 0 0 $wpbr-space;
		}
	}
}
