/*--------------------------------------------------------------
# Admin-Page
--------------------------------------------------------------*/

.wpbr-admin-page {
	color: $wpbr-color-text;

	&--pad {
		padding: $wpbr-space;
	}

	* {
		box-sizing: border-box;
	}
}
