/*--------------------------------------------------------------
# Subtabs
--------------------------------------------------------------*/

.wpbr-subtabs {
	margin: 0;

	@media ( min-width: 768px ) {
		border-right: $wpbr-border-width solid $wpbr-color-dim;
	}

	&__item {
		margin-bottom: 0;
		border-bottom: $wpbr-border-width solid $wpbr-color-dim;

		&:last-child {
			border-bottom: 0;
		}
	}

	.wpbr-admin &__link {
		align-items: center;
		background-color: $wpbr-color-off-white-light;
		color: $wpbr-color-text;
		display: flex;
		font-size: 14px;
		line-height: $wpbr-space;
		padding: $wpbr-space-three-quarters $wpbr-space;
		position: relative;
		text-decoration: none;
		transition-duration: 0s;

		&:hover,
		&:focus,
		&:active {
			background-color: $wpbr-color-off-white;
			box-shadow: none;
			color: $wpbr-color-text;
		}

		&:after {
			background: $wpbr-color-blue;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 0;
			transition: width 0.2s ease-out;
		}

		&.is-active {
			background-color: $wpbr-color-white;
			font-weight: 600;

			&:hover,
			&:focus,
			&:active {
				background-color: $wpbr-color-white;
			}

			&:after {
				width: $wpbr-space-fifth;
			}
		}
	}
}
