/*--------------------------------------------------------------
# Field
--------------------------------------------------------------*/

.wpbr-field {
	padding-bottom: $wpbr-space;

	&:last-child {
		padding-bottom: 0;
	}

	&--spacious {
		border-bottom: $wpbr-border-width solid $wpbr-color-dim;
		padding: $wpbr-space 0;

		&:last-child {
			border-bottom: 0;
			padding: $wpbr-space 0 0;
		}

		@media ( min-width: 768px ) {
			border-bottom: $wpbr-border-width solid $wpbr-color-dim;
			padding: $wpbr-space-double 0;
			display: flex;
			flex-wrap: wrap;

			&:last-child {
				padding: $wpbr-space-double 0 $wpbr-space;
			}
		}
	}

	&__name {
		display: inline;
		font-size: 14px;
		font-weight: 600;

		.wpbr-field--spacious & {
			@media ( min-width: 768px ) {
				flex: 0 0 $wpbr-space * 10;
				margin-bottom: 0;
				padding-right: $wpbr-space;

				.wpbr-settings-field--text &,
				.wpbr-settings-field--facebook-pages & {
					margin-top: $wpbr-space-quarter;
				}
			}
		}
	}

	&__control-wrap {
		display: flex;
		font-size: 14px;
		width: 100%;

		.wpbr-field__name + & {
			margin-top: $wpbr-space-half;
		}

		.wpbr-field--spacious & {
			flex: 1;
			margin-top: 0;
			width: auto;
		}
	}

	&__control {
		flex: 1;
	}

	&__inline-button.button {
		display: block;
		margin-left: $wpbr-space-half;
	}

	&__description {
		font-style: italic;
		margin: $wpbr-space-half 0 0;

		.wpbr-field--spacious & {
			@media ( min-width: 768px ) {
				flex: 0 0 100%;
				padding-left: $wpbr-space * 10;
			}
		}
	}

	&__fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	&__options {
		list-style: none;
		margin: 0;
	}

	&__option {
		display: flex;
		margin-bottom: $wpbr-space-half;
		padding: 0;

		&:last-child {
			margin-bottom: 0;
		}

		@media ( min-width: 783px ) {
			margin-bottom: $wpbr-space-quarter;
		}

		input {
			flex: 0 0 25px;

			@media ( min-width: 783px ) {
				flex: 0 0 16px;
			}
		}

		label {
			margin-top: 3px;
			flex: 1;

			@media ( min-width: 783px ) {
				margin-top: -1px;
			}
		}
	}
}
