/*--------------------------------------------------------------
# Tabs
--------------------------------------------------------------*/
.wpbr-tabs {
	background-color: $wpbr-color-navy;
	display: flex;
	margin: 0;
	padding: 0 $wpbr-space;

	&__item {
		margin: 0;
		display: flex;
		flex-basis: $wpbr-space * 7;
	}

	.wpbr-admin &__link {
		color: $wpbr-color-white;
		display: flex;
		flex-direction: column;
		font-size: 14px;
		justify-content: center;
		line-height: $wpbr-space;
		padding: $wpbr-space-three-quarters $wpbr-space;
		position: relative;
		text-align: center;
		text-decoration: none;
		transition-duration: 0s;
		width: 100%;

		&:hover,
		&:focus,
		&:active {
			background-color: $wpbr-color-navy-light;
			box-shadow: none;
			color: $wpbr-color-white;
		}

		&.is-active {
			background-color: $wpbr-color-off-white;
			color: $wpbr-color-text;
			font-weight: 600;

			&:hover,
			&:focus,
			&:active {
				background-color: $wpbr-color-off-white;
				color: $wpbr-color-text;
			}
		}
	}
}
