/*--------------------------------------------------------------
# Admin
--------------------------------------------------------------*/

.wpbr-admin {
	background-color: $wpbr-color-off-white;
	transition: background-color 0.2s ease-out;

	// Change color of current menu item indicator to match background.
	ul#adminmenu a.wp-has-current-submenu:after,
	ul#adminmenu > li.current > a.current:after {
		border-right-color: $wpbr-color-off-white;
		transition: border-color 0.2s ease-out;
	}

	&.wpbr-theme--dark {
		background: #23282d;

		ul#adminmenu a.wp-has-current-submenu:after,
		ul#adminmenu > li.current > a.current:after {
			border-right-color: #23282d;
		}

		#wpfooter {
			color: $wpbr-color-white;
		}
	}
}
