/*--------------------------------------------------------------
# Stars
--------------------------------------------------------------*/

.wpbr-stars {
	color: $wpbr-color-text;

	&--google_places {
		color: $wpbr-color-google-places-rating;
	}

	&--facebook {
		color: $wpbr-color-facebook-rating;
	}
}
