/*--------------------------------------------------------------
# Media-List
--------------------------------------------------------------*/

.wpbr-media {
	display: flex;
	align-items: center;

	&__figure {
		margin-right: $wpbr-space;

		&--icon {
			width: $wpbr-space-triple;
		}

		img {
			display: block;
			width: 100%;
		}
	}

	&__body {
		flex: 1;
		text-align: left;
	}
}
